*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* navbar */ 
.navbar{
  width: 100%;
  height: 100px;
  background-color: rgba(9, 32, 66, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nb-element1 {
  margin-left: 30px;
  color: white; 
}

.nb-element2 {
  margin-right: 30px;
}

.button-log-out {
  width: 90px;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}

/* register */
.body-register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh; 
  background: url('./assets/background.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

.register-container {
  position: relative;
  width: 420px;
  height: 500px; 
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  color: white;
}

.register-container .form-register {
  width: 100%;
  padding: 40px;
}

.h2-register {
  font-size: 36px;
  text-align: center;
}

.input-register {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-register input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none; 
  outline: none;
  border: 2px solid rgba(255, 255, 255, .1);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  padding: 20px 45px 20px 20px; 
}

.input-register .title-register {
  margin-bottom: 10px;
  font-size: 17px;
}

.button-register {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.login-link {
  font-size: 15px;
  text-align: center;
  margin: 20px 0 15px; 
}

.login-link p .link-login {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.login-link p .link-login:hover {
  text-decoration: underline; 
}

/* login */ 
.body-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh; 
  background: url('./assets/background.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

.login-container {
  position: relative;
  width: 420px;
  height: 450px; 
  border: 2px solid rgba(255, 255, 255, .1);
  backdrop-filter: blur(15px); 
  border-radius: 10px;
  color: white;
}

.login-container .form-login {
  width: 100%;
  padding: 40px;
}

.h2-login {
  font-size: 36px;
  text-align: center;
}

.input-login {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-login input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none; 
  outline: none;
  border: 2px solid rgba(255, 255, 255, .1);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  padding: 20px 45px 20px 20px; 
}

.input-login .title-input {
  margin-bottom: 10px;
  font-size: 17px;
}

.button-login {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
} 

.register-link {
  font-size: 15px;
  text-align: center;
  margin: 20px 0 15px; 
}

.register-link p .link-register {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.register-link p .link-register:hover {
  text-decoration: underline; 
}

/* home */ 
.body-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh; 
  background: url('./assets/background.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

.home-container {
  color: white; 
  margin: 10px 0;
}

.h1-home {
  font-size: 50px;
  text-align: center; 
  margin-bottom: 300px;
}

.button-game {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-new-game {
  width: 50%;
  height: 45px;
  display: flex; 
  justify-content: center;
  align-items: center;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.list-of-matches {
  margin-top: 50px;
  font-size: 30px;
}

.list-of-matches .title-list-of-matches {
  margin-bottom: 10px;
}

.button-play {
  width: 150px;
  height: 35px;
  margin-left: 20px;
  background: #fff;
  border: 2px solid black; 
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600; 
}

/* Games */ 
.body-games {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh; 
  background: url('./assets/background.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

.games-container {
  color: white;
  margin: 50px 0;
  text-align: center;
  font-size: 30px;
}

.game-match-id {
  margin-bottom: 30px;
}

.list-players {
  margin-bottom: 30px;
}

.choose-your-move {
  margin-right: 20px;
}

.select {
  margin-left: 20px;
  border: none; 
  appearance: none;
  padding: 0 30px 0 15px;
  background-color: #fff;
  font-size: 20px;
}

.button-play-turn {
  width: 150px;
  height: 35px;
  background: #fff;
  border: 2px solid black; 
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

